
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Agences</h3>
    </div>
    <div  class="w3-row-padding">
      <div *ngFor="let obj of Agences" class="w3-col l3 m6 w3-margin-bottom">
        <div    class="w3-display-container">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{obj.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{obj.image}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  {{obj.addresse}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button data-toggle="modal" data-target="#exampleModal" (click)="goto(obj._id)"  mat-button>lancer Rendez-vous</button>
            </mat-card-actions>
          </mat-card>
          
        </div>
      </div>
       </div>
       <div *ngIf="Calendar" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           
            <div class="modal-body">
              <form  [formGroup]="form">
                <label for="selectAction">Choisir un conseiller :</label>
                <select ngModel name="option" class="form-control"  (change)= "Function(t.value)" #t>
                    <option *ngFor="let op of Conseiller" [value]="op._id">
                        {{op.nom}} 
                    </option>
                </select>  
                  </form>
            </div>            </div>
            <div class="modal-footer">
              <button  #closeModal type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
             </div>
          </div>
        </div>
