<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a   class="w3-bar-item w3-button"><img width="100px" routerLink=""  src="../../../../assets/images/uib.png"/></a>

      <!-- Float links to the right. Hide them on small screens -->
      <div  style="padding-top: 20px;" class="w3-right w3-hide-small">

        <a routerLinkActive="active" routerLink="" class="w3-bar-item w3-button">Accueil</a>
        <a  routerLinkActive="active" routerLink="rdv" class="w3-bar-item w3-button">Mes RDV</a>
        <a  routerLinkActive="active" routerLink="agences" class="w3-bar-item w3-button">Agences</a>
        <a  routerLinkActive="active" routerLink="agences" class="w3-bar-item w3-button">Agences</a>
        <a *ngIf="!variable" class="w3-bar-item w3-button" (click)="openDialog()" >Login</a>
        <a  *ngIf="variable" (click)="logout()" class="w3-bar-item w3-button"  >Logout<small>({{username}})</small></a>

      </div>
      <div  style="padding-top: 20px;" class="w3-left w3-hide-small">
        <a  routerLinkActive="active" routerLink="conseillerlogin" class="w3-bar-item w3-button">Espace conseiller</a>
        <a  routerLinkActive="active" routerLink="adminlogin" class="w3-bar-item w3-button">Espace admin</a>
  

      </div>

    </div>
  </div>
  
  <!-- Header -->
