  
    
     <div class="row" style="height: 100px;">
        <div class="column" style="float:left;  width: 20%; height: 300px;">
          
        </div>
        <div class="column" style="float:left;  width: 80%; height: 300px;">
            <h1 style="text-align: center;">Statistics</h1>
        </div>

     </div>
    <div   class="row">
        <div class="column" style="float:left;  width: 20%; height: 300px;">
          
        </div>
        <div class="column" style="float:left;  width: 40%; height: 400px; ">
            <div class="chart-container" style="width: 100%;"> 
                <canvas id="my-chart">
                </canvas>
            </div>
        </div>
        <div class="column" style="width: 40%; height: 400px; ">
            <div class="chart-container" style="width: 100%;">
                <canvas id="my-chart-agence">
                </canvas>
            </div>
        </div>
      </div>
